
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis of Algorithms</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h2 style="color: white;">Comparison of Algorithms</h2>

    <div class="analysis-graphs">
        <div class="graph">
            <!-- Time graph goes here -->
            {{ time_graph | safe }}
        </div>
        <div class="graph">
            <!-- Memory graph goes here -->
            {{ memory_graph | safe }}
        </div>
    </div>
    
    
</body>
</html>